.student-flex {
  display: flex;
  flex-wrap: wrap;       /* Allows items to move to the next row */
  gap: 20px;     
  width: 100%;       
  justify-content: flex-start; 
}

.pagination {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.pagination button {
  padding: 8px 16px;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}